<<<<<<< HEAD
:root {
    --main-color: #D1D2F9;
    --highlight-color: #246EB9;
    --font-color: #011627;
    --small-font-color: #777992;
    --green: #ACECA1;
    --red: #FF847C;
    --red-highlighted: #FF6F6F;
    --red-clicked: #FF4E4E;

    --locked: #807E8B;
    --locked-highlighted: #6C6A75;
    --locked-text: #CAC9CF;
}