@import './_variables.css';

.selection {
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0.5rem 0;
    padding: 0;
    border: 5px solid #000;
    border-radius: 0.5rem;
    background-color: var(--choices);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.image {
    width: 70%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin-bottom: 0;
    user-select: none;
}

.english {
    font-size: 2em;
    font-weight: bold;
    color: var(--font-color);
    margin: 0 auto;
    user-select: none;
}

.translation {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--small-font-color);
    margin-top: 0;
    user-select: none;
}
