@import './_variables.css';

.Choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.image {
    width: 10%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin-bottom: 0;
}

.english {
    font-size: 2em;
    font-weight: bold;
    color: var(--font-color);
    margin: 0 auto;
}

.translation {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--small-font-color);
    margin-top: 0;
}
