@import './_variables.css';

.storyPage {
  font-family: 'Playpen Sans', cursive;
  text-align: center;
  min-height: 100vh;
  background-color: var(--main-color);
}

.storyPage .sentenceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 4% 0 4% 0;
}

/*The main sentence*/
.storyPage #sentence {
  font-size: 4em;
  font-weight: bold;
  color: var(--font-color);
  margin: 0;
  line-height: 1.5;
  height: calc(1.5em * 3)
}

.storyPage #translation {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--small-font-color);
  margin: 0;
}

/*Highlighted words*/
.storyPage #sentence .important {
  color: var(--highlight-color);
}

.storyPage .selector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 1%;
  margin: 0 auto;
}

.storyPage .navigation {
  display: flex;
  justify-content: space-between;
  padding: 4% 15% 0 15%;
}

.storyPage .nav-button {
  font-size: 3em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  background-color: var(--green);
  border-radius: 30%;
  border: .2rem solid var(--font-color);
  padding: 0    ;
  margin: .25rem;
  aspect-ratio: 1 / 1;
  width: 8%;
  min-width: 10vh;
}

.storyPage .nav-button:hover {
  cursor: pointer;
}
